* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    text-align: justify;
}

body {
    background: linear-gradient(red, blue);
    background-attachment: fixed;
    position: relative;
}

header {
    padding: 10px;
    background: none;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}

span.header {
    font-size: 50px;
    background-color: rgb(4, 4, 122);
    color: #fff;
    border-radius: 20%;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgb(1, 1, 173);
}

span.header-icon {
    float: right;
}

span.header-icon i.icon {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 10px;
}

.header-icon i:hover {
    transform: scale(2);
}

.container-fluid {
    background-color: rgb(250, 235, 215);
    border: 5px solid rgb(129, 6, 78);
}

.sidenav a {
    display: block;
    text-align: left;
    padding: 10px 12px;
    margin-top: 5px;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
    background-color: rgba(118, 118, 226, 0.815);
    color: rgb(2, 2, 68);
}

.sidenav a:hover {
    background-color: rgb(4, 4, 95);
    color: #fff;
    transform: translateX(8px);
}

.sidenav a.icon {
    display: none;
}

@media all and (max-width: 600px) {
    div.sider {
        width: 100%;
    }
    .stick {
        position: fixed;
        width: 100%;
        z-index: 4;
    }
}

@media screen and (max-width: 600px) {
    .sidenav a {
        display: none;
    }
    .sidenav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .sidenav.responsive {
        position: relative;
    }
    .sidenav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .sidenav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.mypic img {
    padding: 10px 10px;
    background: linear-gradient(red, blue);
    width: 100%;
}

.primary {
    color: blue;
}

.smile {
    color: rgb(142, 143, 206);
    font-size: 2ch;
}

p.title {
    text-align: center;
    text-transform: capitalize;
    color: rgb(11, 11, 37);
    font-family: Arial, Helvetica, sans-serif;
}

div.footer {
    text-align: center;
    padding: 5px;
    color: #000;
}

span.footer-logo {
    padding: 10px 5px;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    background-color: rgb(4, 4, 122);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: scale(2);
}

div.center {
    text-align: center;
    padding: 10px;
}